extends ../layouts/application.pug

block header
  = t('views.users.new.signUp')

block content
  +formFor()(action=route('users') method='post')
    +title
      span= t('views.users.new.title')
    +input(user, 'firstName', errors)(type="text" placeholder=t('views.users.new.firstName'))
    +input(user, 'lastName', errors)(type="text" placeholder=t('views.users.new.lastName'))
    +input(user, 'email', errors)(type="text" placeholder=t('views.users.new.mail'))
    +input(user, 'password', errors)(type="password" placeholder=t('views.users.new.password'))
    +submit(user)(value=t('views.users.new.submit'))
