extends ../layouts/application.pug

block content
    a.a.btn.btn-dark.mb-4(href=route('getStatusPage'))= t('views.statuses.create')
    table.table.table-striped
        thead
            tr
                th= t('views.statuses.id')
                th= t('views.statuses.name')
                th= t('views.statuses.createdAt')
        tbody
           each status in statuses
              tr
                  td= status.id
                  td.w-50= status.name
                  td= formatDate(status.createdAt)
                  td.d-flex.flex-row
                      a.btn.btn-dark.me-2(href='/statuses/' + status.id + '/edit')= t('views.statuses.edit')
                      +buttonTo('/statuses/' + status.id, 'delete')(class="btn btn-warning" value=t('views.statuses.delete'))
