extends ../layouts/application.pug

block content
    a.a.btn.btn-dark.mb-4(href=route('createStatus'))= t('views.statuses.create')
    table.table.table-striped
        thead
            tr
                th= t('views.statuses.id')
                th= t('views.statuses.name')
                th= t('views.statuses.createdAt')
        tbody
          // each status in statuses
              tr
                  td= status.id
                  td= status.name
                  td= formatDate(status.createdAt)
                  td
                      a.btn.btn-outline-light.me-2(href=route('statusEdit', { id: status.id }))= t('views.statuses.edit')
                      +buttonTo(route('statusDelete', { id: status.id }), 'delete')(class="btn btn-warning" value=t('views.statuses.delete'))
