extends ../layouts/application.pug

block content
    a.a.btn.btn-dark.mb-4(href=route('newTask'))= t('views.tasks.create')
    .jumbotron.p-2.mb-3
        +formFor()(action=route('tasks') method='get' class="form-inline")
            +filterSelect('tasks', 'status', statuses)
            +filterSelect('tasks', 'executor', users)
            +filterSelect('tasks', 'label', labels)
            +checkbox('tasks','isCreatorUser')
            +submit()(class="btn btn-outline-light" value=t('views.tasks.filter'))
    table.table.table-striped
        thead
            tr
                th= t('views.tasks.id')
                th= t('views.tasks.name')
                th= t('views.tasks.statusId')
                th= t('views.tasks.creator')
                th= t('views.tasks.executorId')
                th= t('views.tasks.createdAt')
                th= t('views.tasks.actions')
        tbody
          each task in tasks
              tr
                  td= task.id
                  td
                      a(href=route('showTask', { id: task.id }))= task.name
                  if task.status
                      td= `${task.status.name}`
                  if task.creator
                      td= `${task.creator.name}`
                  if task.executor
                      td= `${task.executor.name}`
                  else
                      td
                  td= formatDate(task.createdAt)
                  td.d-flex
                      a.btn.btn-dark.m-1(href=route('editTask', { id: task.id }))= t('views.tasks.edit')
                      +buttonTo(route('deleteTask', { id: task.id }), 'delete')(class="btn btn-warning m-1" value=t('views.tasks.delete'))
