extends ../layouts/application.pug

block header
  = t('views.session.new.signIn')

block content
  +formFor()(action=route('session') method='post')
    +title
      span= t('views.session.new.title')
    +input(signInForm, 'email', errors)(type="text" placeholder=t('views.session.new.mail'))
    +input(signInForm, 'password')(type="password" placeholder=t('views.session.new.password'))
    +submit(signInForm)(class="btn-outline-light me-4" value=t('views.session.new.submit'))
    a.btn.btn-warning.mt-4.px-5(href='/')= t('views.statuses.cancel')
